<ion-content [fullscreen]="true" style="--background:#FFF8EA;">
  <div class="container mt-3">
    <button [routerLink]="['/home']" class="btn-none">
      <img src="../../assets/icon/back.png" alt="" width="30px" height="30px">
    </button>
    <div class="content mb-3 d-block">
      <div class="header-content text-center">Letters</div>
      <div class="text-center">
        FIil in the text by looking at the <br> Alphabet Letters.
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-a.png" alt="">
        <label for="" class="lbl-letter ms-4 mt-4">A = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-b.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">B = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-c.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">C = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-d.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">D = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-e.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">E = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-f.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">F = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-g.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">G = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-h.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">H = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/letters/letter-i.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">I = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
    </div>
  </div>
</ion-content>
