<ion-content>
  <div class="container h-100 text-center">
    <div class=" mt-2">
      <label for="" class="lbl-header d-block">Birth Day</label>
      <input type="date" class="w-50 mt-3"/>
    </div>
    <div class=" mt-2">
      <label for="" class="lbl-header d-block mt-3">Gender</label>
      <div class="justify-content-center mt-3 d-flex" style="margin-left: 10px;">
        <input type="radio" id="famale" name="gender" value="Famale" />
        <label for="famale" class="lbl-content ms-1">Famale</label>
        <input type="radio" id="male" name="gender" value="Male" class="ms-4"/>
        <label for="male" class="lbl-content ms-1">Male</label>
      </div> 
    </div>
    <div class=" mt-3">
      <label for="" class="lbl-header d-block">Mail</label>
      <input type="email" class="w-100 mt-2"/>
    </div>
    <div class="mt-3">
      <label for="" class="lbl-header d-block">Phone</label>
      <input type="number" class="w-100 mt-2"/>
    </div>
    <div class="text-end">
      <button class="btn mt-3 me-2" [routerLink]="['/register']">Previous</button>
      <button class="btn mt-3 w-25" [routerLink]="['/register3']">Next</button>
    </div>
  </div>
</ion-content>
