<ion-content [fullscreen]="true" style="--background:#C7F2A4;">
  <div class="container mt-3">
    <button [routerLink]="['/home']" class="btn-none">
      <img src="../../assets/icon/back.png" alt="" width="30px" height="30px">
    </button>
    <div class="content mb-3 d-block">
      <div class="header-content text-center">Reading</div>
      <div class="text-center ms-3">
        Let's read a short story.
      </div>
      <div class="card mt-3 text-center">
        <div class="card-header bg-warning text-white">True Friendship</div>
        <div class="card-content p-3">
          <p>Fiona was a girl who rarely smiles. She looked so sad every day. Reina, her classmate, was so worried about her. One day, Fiona was not going to school. The next day, she was late.</p>
          <p>She didn’t say anything either to the teacher or friends. She kept quiet the whole day. After class, she went back to her home in a hurry. Reina decided to follow her so that she knew what her problems were.</p>
          <p>After finding Fiona, Reina was shocked. She saw Fiona sat helplessly in the cemetery. Reina was approaching Fiona. She saw that Fiona was crying beside her sister’s tomb.</p>
          <p>Reina sat closely with Fiona and hugged her. She said that everything will be okay. Reina asked Fiona to tell her problem and never hide it. After that day, they were becoming true friends. </p>
        </div> 
      </div>
      <div class="card mt-3 text-center">
        <div class="card-header bg-warning text-white">The Secret Park <br> in My Grandfather’s House</div>
        <div class="card-content p-3">
          <p>Last summer, my family and I went to my grandfather’s house. We stayed there for about one week. I and my brother were so happy since my grandfather’s house was located close to the beautiful and greenery farm.</p>
          <p>One day, I saw my grandfather went to the farm behind the house. I was so curious since I had never gone there. The place looked so scary. My grandfather saw me. Then, he immediately asked me to follow him.</p>
          <p>And, I was so surprised since there was a flower park behind the farm. The park was full of flowers and butterflies. My grandfather said that he planted all the flowers and took care of them.</p>
          <p>After that day, I spent my whole day enjoying the time in the park. </p>
        </div> 
      </div>
    </div>
  </div>
</ion-content>
