.header-content{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    font-weight: bold;
}

.img-letter{
    width: 100px;
    height: 100px;
}

.lbl-letter{
    font-size: 40px;
    font-weight: bold;
    margin-left: 4%;
}

.input{
    width: 100px;
    font-size: 35px;
}

.btn-none{
    text-decoration: none;
    background-color: transparent;
}

.card{
    border: none;
}

.card-content{
    background: #FFF9B0;
}