.container {
  background: url("../../assets/bg-login.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: 300% auto;
  background-position: center;
  height: 100%;
  padding: 0;
}

.w-all {
  width: 95%;
}

.p-tengah {
  padding-top: 40%;
}

.forgot {
  margin-right: 5%;
  float: right;
  font-size: 13px;
}

input {
  height: 40px;
  border: 1px #fff solid;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  box-shadow: 3px 3px 8px #aaaaaa;
  font-size: 15px;
  padding: 8px;
}

button {
  background-color: #FFACC7;
  box-shadow: 3px 3px 8px #aaaaaa;
  color: #FFf;
  font-weight: bold;
  border-radius: 20px;
}

button:hover {
  background-color: #F6F6C9;
  color: #153462;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #5da7db;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: bold;
}

h1 {
  font-weight: bold;
}
