<ion-content [fullscreen]="true" style="--background:#FFF8EA;">
  <div class="container mt-3">
    <button [routerLink]="['/home']" class="btn-none">
      <img src="../../assets/icon/back.png" alt="" width="30px" height="30px">
    </button>
    <div class="content mb-3 d-block">
      <div class="header-content text-center">Numbers</div>
      <div class="text-center">
        FIil in the text by writing the letters <br> of the numbers.
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/1.png" alt="">
        <label for="" class="lbl-letter ms-4 mt-4">1 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/2.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">2 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/3.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">3 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/4.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">4 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/5.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">5 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/6.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">6 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/7.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">7 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/8.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">8 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/9.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">9 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/numbers/10.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for="">10 = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
    </div>
  </div>
</ion-content>
