.h2-header{
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #000;
    width: 100%;
    top: -4%;
}

.head{
    background-color: #B9E0FF;
}

ion-icon{
    color:black;
}

ion-item{
    box-shadow: 3px 3px 8px #aaaaaa;
}