<ion-content [fullscreen]="true">
  <div class="container h-100">
    <h1 class="header text-center">Forgot Password?</h1>
    <div class=" mt-4">
      <label for="" class="lbl-header d-block">Enter Your Email</label>
      <input type="email" class="w-100 mt-2"/>
    </div>
    <div class="text-end">
      <button class="btn mt-3" width="100px" [routerLink]="['/login']">Send Verification Code</button>
    </div>
    <div class=" mt-4">
      <label for="" class="lbl-header d-block">Enter Verification Code</label>
      <input type="email" class="w-100 mt-2"/>
    </div>
    <div class="text-end">
      <button class="btn mt-3 me-2 w-25" [routerLink]="['/login']">Cancel</button>
      <button class="btn mt-3 w-25" [routerLink]="['/forgot-password2']">Next</button>
    </div>
  </div>
</ion-content>
