<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar style="--background: #ffddd2">
        <div class="container d-block text-center mt-2 mb-2">
          <img
            alt=""
            width="150px"
            height="150px"
            class="img-profile"
            style="box-shadow: 3px 3px 8px #fca081;"
          />
          <p class="header-profile mt-2">Gotou Hitori</p>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="text-center" >
      <ion-item
        button
        detail="false"
        lines="none"
        class="mt-2"
        [routerLink]="['/profile']"
      >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label class="ms-2">
          <h3>My Profile</h3>
        </ion-label>
      </ion-item>
      <ion-item 
      button 
      detail="false" 
      lines="none" 
      class="mt-2"
      [routerLink]="['/reward']"
      >
        <ion-icon name="ribbon-outline"></ion-icon>
        <ion-label class="ms-2">
          <h3>Reward</h3>
        </ion-label>
      </ion-item>
      <ion-item
        button
        detail="false"
        lines="none"
        [routerLink]="['/setting']"
        class="mt-2"
      >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label class="ms-2">
          <h3>Setting</h3>
        </ion-label>
      </ion-item>
      <ion-item
        button
        detail="false"
        lines="none"
        [routerLink]="['/login']"
        class="mt-2"
      >
        <ion-icon name="log-out-outline" class=""></ion-icon>
        <ion-label class="ms-2">
          <h3>Log Out</h3>
        </ion-label>
      </ion-item>
    </ion-content>
    <ion-bottom class="mb-2 text-center"> Versi : Pembuatan. </ion-bottom>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header no-border class="ion-no-border">
      <ion-toolbar style="--background: #eeeeee">
        <ion-buttons slot="start">
          <ion-menu-button
            ><img src="../../assets/icon/menu.png" class="ikon"
          /></ion-menu-button>
        </ion-buttons>
        <ion-buttons
          slot="start"
          style="margin-left: 3%"
          [routerLink]="['/search']"
        >
          <img
            src="../../assets/icon/search.png"
            alt=""
            width="25px"
            height="25px"
          />
        </ion-buttons>
        <ion-buttons
          slot="end"
          style="margin-right: 3%"
          [routerLink]="['/notif']"
        >
          <img
            src="../../assets/icon/bell.png"
            alt=""
            width="27px"
            height="27px"
          />
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="" style="--background: #eeeeee; margin-top: -1px">
      <div class="container mt-2 mb-3">
        <div class="profile">
          <div class="photo">
            <img
              src="../../assets/woman.png"
            />
          </div>
          <div class="content">
            <div class="text">
              <h3 style="font-size: 17px;">Hi.. Gotou Hitori</h3>
              <h6 style="font-size: 17px;">Let's studies with me</h6>
            </div>
            <div class="btn" [routerLink]="['/shapes']"><ion-icon name="chevron-forward-outline"></ion-icon></div>
          </div>
        </div>

        <swiper #swiper 
        [config]="config"
        style="margin-top: 15px;"
        >
          <ng-template swiperSlide *ngFor="let img of images"><img [src]="img" alt="" class="img-swiper"></ng-template>
        </swiper>

        <h4 class="text-center" style="font-weight: bold">Lets Learning</h4>
        <div class="studies justify-content-center mt-3 d-flex">
          <button class="btn p-3" [routerLink]="['/letters']">
            <img
              src="../../assets/book.png"
              alt=""
              width="100px"
              height="100px"
              id="avatar-img"
            />
            <p class="mt-3">Letters</p>
          </button>
          <button class="btn ms-3 p-3" [routerLink]="['/vocab']">
            <img
              src="../../assets/vocab.png"
              alt=""
              width="100px"
              height="100px"
              id="avatar-img"
            />
            <p class="mt-3">Vocab & Letters</p>
          </button>
        </div>
        <div class="studies justify-content-center mt-3 d-flex">
          <button class="btn p-3" [routerLink]="['/numbers']">
            <img
              src="../../assets/numbers.png"
              alt=""
              width="100px"
              height="100px"
              id="avatar-img"
            />
            <p class="mt-3">Numbers</p>
          </button>
          <button class="btn ms-3 p-3" [routerLink]="['/shapes']">
            <img
              src="../../assets/shapes.png"
              alt=""
              width="100px"
              height="100px"
              id="avatar-img"
            />
            <p class="mt-3">Shapes</p>
          </button>
        </div>
        <div class="studies justify-content-center mt-3 d-flex">
          <button class="btn p-3" [routerLink]="['/analysis']">
            <img
              src="../../assets/analysis.png"
              alt=""
              width="100px"
              height="100px"
              id="avatar-img"
            />
            <p class="mt-3">Learning Analysis</p>
          </button>
          <button class="btn ms-3 p-3" [routerLink]="['/reading']">
            <img
              src="../../assets/reading-book (1).png"
              alt=""
              width="100px"
              height="100px"
              id="avatar-img"
            />
            <p class="mt-3">Reading</p>
          </button>
        </div>
      </div>
    </ion-content>
  </div>
</ion-app>
