<ion-content [fullscreen]="true" style="--background:#FFF8EA;">
  <div class="container mt-3">
    <button [routerLink]="['/home']" class="btn-none">
      <img src="../../assets/icon/back.png" alt="" width="30px" height="30px">
    </button>
    <div class="content mb-3 d-block">
      <div class="header-content text-center">Shapes</div>
      <div class="text-center">
        FIil in the text by writing the name <br> of the shape images.
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/triangle.png" alt="">
        <label for="" class="lbl-letter ms-4 mt-4"> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/circle.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for=""> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/cube.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for=""> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/cylinder.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for=""> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/parallelogram.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for=""> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/rectangle.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for=""> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/trapezoid.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for=""> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
      <div class="mt-3 d-flex justify-content-center">
        <img class="img-letter" src="../../assets/shapes/square.png" alt="">
        <label class="lbl-letter ms-4 mt-4" for=""> = </label>
        <input type="text" class="input ms-2 h-25 mt-4">
      </div>
    </div>  
  </div>
</ion-content>
